@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Samim, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.pin-zoom .react-transform-component {
  max-width: 100vw !important;
  max-height: 100vh !important;
  overflow: visible !important;
}

.pin-zoom .react-transform-element {
  max-width: 100vw !important;
  max-height: 100vh !important;
  overflow: visible !important;
}

.pin-zoom img {
  max-width: 100vw !important;
  max-height: 100vh !important;
}
